/* ------------------------ */
/* BIG DESKTOPS */
/* ------------------------ */

@media only screen and (min-width: 1700px) {
  /* Our team section*/

  .btn-arrow--left {
    left: 20rem;
  }

  .btn-arrow--right {
    right: 20rem;
  }
}

/* ------------------------ */
/* SMALL DESKTOPS */
/* ------------------------ */

@media only screen and (max-width: 1240px) {
  /*------- Team section ------- */

  .btn-arrow--left {
    left: 1rem;
    transform: translate(0, 50%);
  }

  .btn-arrow--right {
    right: 1rem;
    transform: translate(0, 50%);
  }

  .team-members-container {
    gap: 16rem;
    padding-right: 12rem;
    padding-left: 12rem;
  }
}

/* --------------------------- */
/* HORIZONTAL TABLETS  */
/* --------------------------- */

@media only screen and (max-width: 860px) {
  /*------- General and components ------- */
  html {
    font-size: 59%;
  }

  .primary-heading {
    font-size: 4rem;
    max-width: 30ch;
  }

  .secundary-heading {
    font-size: 3.2rem;
  }
}

/* --------------------------- */
/* TABLETS  */
/* --------------------------- */

@media only screen and (max-width: 860px) {
  /*------- General and components ------- */

  .primary-heading {
    max-width: 22ch;
  }

  /*------- Header ------- */

  .header-container {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0;
  }

  .nav {
    flex-direction: column;
    gap: 3rem;
    order: 1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
  }

  .nav.active {
    max-height: 62rem;
  }

  .nav-list {
    margin-top: 5rem;
    flex-direction: column;
    text-align: center;
  }

  .menu-btn {
    display: inline-block;
  }

  /*------- Hero section ------- */

  .hero-description {
    max-width: 55ch;
  }

  /*------- Team section ------- */

  .team-members-container {
    padding-top: 8rem;
  }
  /*------- Footer ------- */

  .footer-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
  }

  .cta-column {
    justify-items: center;
    grid-area: 1 / 1 / 2 / 4;
  }

  .cta-column .logo {
    height: 6rem;
  }

  .column-title {
    font-size: 1.8rem;
  }

  .footer-link:link,
  .footer-link:visited {
    font-size: 1.7rem;
  }
}

/* --------------------------- */
/* PHONES  */
/* --------------------------- */

@media only screen and (max-width: 600px) {
  /* ------- General and components ------- */

  .primary-heading {
    max-width: 15ch;
    line-height: 1.3;
  }

  .secundary-heading {
    line-height: 1.3;
  }

  .grid {
    grid-template-columns: 1fr;
    row-gap: 7rem;
  }

  /* ------- Hero section ------- */

  .hero-description {
    max-width: 34ch;
  }

  .papers-img-box {
    order: 1;
  }

  /* ------- The solution section ------- */

  .description-paragraph {
    width: 100%;
  }

  /* ------- Our team section ------- */

  .btn-arrow {
    width: 5rem;
    height: 5rem;
  }

  .arrow-icon {
    font-size: 2rem;
  }

  /* ------- Call to action section ------- */

  .cta-container .secundary-heading {
    font-size: 3.6rem;
  }

  /* ------- Footer ------- */

  .footer-container {
    text-align: center;
    gap: 4.8rem;
  }

  .cta-column {
    justify-items: center;
    grid-area: 1 / 1;
  }

  .footer-container-end {
    flex-direction: column;
    gap: 4rem;
  }

  .privacy,
  .social-media {
    justify-content: center;
  }
}
