/* ------------------------ */
/* BIG DESKTOPS */
/* ------------------------ */

@media only screen and (min-width: 1700px) {
  /* Our team section*/

  .btn-arrow--left {
    left: 20rem;
  }

  .btn-arrow--right {
    right: 20rem;
  }
}

/* ------------------------ */
/* SMALL DESKTOPS */
/* ------------------------ */

@media only screen and (max-width: 1240px) {
  /*------- Team section ------- */

  .btn-arrow--left {
    left: 1rem;
    transform: translate(0, 50%);
  }

  .btn-arrow--right {
    right: 1rem;
    transform: translate(0, 50%);
  }

  .team-members-container {
    gap: 16rem;
    padding-right: 14rem;
    padding-left: 14rem;
  }
}

/* --------------------------- */
/* HORIZONTAL TABLETS  */
/* --------------------------- */

@media only screen and (max-width: 860px) {
  /*------- General and components ------- */
  html {
    font-size: 56.25%;
  }

  .primary-heading {
    max-width: 30ch;
  }
}

/* --------------------------- */
/* TABLETS  */
/* --------------------------- */

@media only screen and (max-width: 860px) {
  /*------- General and components ------- */

  .primary-heading {
    max-width: 22ch;
  }

  /*------- Header ------- */

  .header-container {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0;
  }

  .nav {
    flex-direction: column;
    gap: 3rem;
    order: 1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
  }

  .nav.active {
    max-height: 62rem;
  }

  .nav-list {
    margin-top: 5rem;
    flex-direction: column;
    text-align: center;
  }

  .menu-btn {
    display: inline-block;
  }

  /*------- Hero section ------- */

  .hero-description {
    max-width: 55ch;
  }

  /*------- Team section ------- */

  .team-members-container {
    padding-top: 8rem;
  }
}

/* --------------------------- */
/* PHONES  */
/* --------------------------- */

@media only screen and (max-width: 600px) {
  /*------- General and components ------- */

  .primary-heading {
    max-width: 15ch;
    line-height: 1.3;
  }

  .secundary-heading {
    line-height: 1.3;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 9.6rem;
  }

  /*------- Hero section ------- */

  .hero-description {
    max-width: 34ch;
  }

  .papers-img-box {
    order: 1;
  }

  /*------- Our team section ------- */

  .btn-arrow {
    width: 5rem;
    height: 5rem;
  }

  .arrow-icon {
    font-size: 2rem;
  }
}
